[submodule "Libraries/printf"]
	path = Libraries/printf
	url = https://github.com/mpaland/printf.git
[submodule "Libraries/FreeRTOS-Kernel"]
	path = Libraries/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "Libraries/lvgl"]
	path = Libraries/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/8.4
